@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start: Fonts */

@font-face {
  font-family: 'robotic';
  src: url('../fonts/robotic/Roboto-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'robotic';
  src: url('../fonts/robotic/Roboto-Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'robotic';
  src: url('../fonts/robotic/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'robotic';
  src: url('../fonts/Cairo/Cairo-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: 'robotic';
  src: url('../fonts/Cairo/Cairo-Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'robotic';
  src: url('../fonts/Cairo/Cairo-Bold.ttf');
  font-weight: bold;
}


/* End: Fonts */

:root {
  color-scheme: light !important;
  @apply bg-dark;
}

body {
  font-family: 'robotic','cairo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-dark text-white;
}

html {
  @apply bg-black;
}

/* Start:  */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

/* End: */

/* Start: General */

.container {
  @apply max-w-6xl mx-auto;
}

.vertigo_qty input:focus::placeholder {
  opacity: 0;
}

.vertigo_qty input[type='number']::-webkit-inner-spin-button,
.vertigo_qty input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.vertigo_qty input:focus {
  outline: none !important;
}

.vertigo_qty button:focus {
  outline: none !important;
}

.error {
  @apply text-v_11 font-bold my-2 text-red-400 capitalize
}

/* End: General */

/* Start: Payment */
#payment {
  background-color: transparent !important;
}
/* End: Payment */

/* Start: Bullets */
.bullet_active {
  @apply bg-slate-10 text-black;
}
/* End: Bullets */

/* Start: Aside Component*/

.aside {
  transition: all .3s linear;
  width: 15%;
  position: fixed;
}

.aside .logo {
  width: 120px;
}

.aside .fav {
  width: 30px;
}

.aside .vertigo_menu {
  max-height: 80vh;
  overflow-y: scroll;
}

.aside .vertigo_menu .aside li span {
  font-weight: lighter;
}

.aside li.title {
  color: #9c9c9c;
}

.aside li.workspace_icon img {
  width: 20px;
}

.aside li {
  border-radius: 20px;
  cursor: pointer;
}

.aside li .router-link-exact-active {
  background: #111;
  @apply w-full;
  border-radius: 20px;
}

.aside li a {
  padding: 8px 10px;
}

.aside.closed_nav {
  width: 5%;
}

.aside.closed_nav li span {
  white-space: nowrap;
}

/* End: Aside Component */

/* Start: Main Content */
input{
  outline: none;
}

.main_content {
  transition: all .3s linear;
  width: 85%;
  margin-left: 15%;
}

.main_content.closed_nav {
  width: 95% !important;
  margin-left: 5%;
}

.content {
  min-height: 100vh;
  background-color: #0d0d0d;
  border-top-left-radius: 29px;
  border: 2px solid rgb(20, 20, 20)
}

.border_divider {
  border-color: rgb(20, 20, 20);
}

/* End: Main Content */

/* Start: Transition */

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all .2s;
  transform: translateY(0px);
}

.dropdown-enter-from,
.dropdown-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.dropdown-enter-to,
.dropdown-leave-from {
  opacity: 1;
  transform: translateY(10px);
}

.movedown-enter-from {
  top: -20px;
  opacity: 0;
}

.movedown-enter-to {
  top: 0px;
  opacity: 1;
}

.moveup-enter-from {
  top: 20px;
  opacity: 0;
}

.moveup-enter-to {
  top: 0px;
  opacity: 1;
}

.movedown-enter-active,
.moveup-enter-active {
  transition: all .3s linear;
}

.opacity-enter-active {
  transition: all .2s linear;
}

.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}

.opacity-enter-to,
.opacity-leave-from {
  opacity: 1;
}



/* End: Transition */

/* Start: Animation Effects */

.rotate-half-circle-up {
  transition: all .2s linear;
}

.rotate-half-circle-up.active {
  transform: rotate(180deg);
}

/* End: Animation Effects */

/* Start: Buttons */

.btn {
  @apply bg-dark-300 ;
  min-height: 12px !important;
  height: 38px;
  font-size: 12px;
  border: none;
  color: #fff;
}

.btn-no-border {
  border-radius: 0 !important;
}

.btn-loading {
  background-color: hsl(var(--pf, var(--p)) / var(--tw-bg-opacity));
}

.dropdown:focus {
  visibility: hidden !important;
}

.btn_transparent {
  background-color: transparent;
  font-size: 11px;
  text-transform: none;
}

.btn_transparent:hover {
  color: #9c9c9c;
  background-color: transparent !important;
}

.btn-close {
  height: 33px !important;
}

/* End: Buttons */

/* Start: Tooltip */
.tooltip.tooltip-open::before, .tooltip.tooltip-open::after, 
.tooltip:hover::before, .tooltip:hover::after {
  font-size: 12px;
  font-weight: bold;
}
/* End: Tooltip */

/* Start: Cards */
.card_big .content_slide {
  height: 240px;
  overflow: scroll;
}
/* End: Cards */


/* Start: Status */
.busy {
  background: #8f8803;
  border-color: #8f8803;
}

.badget {
  min-width: 50px;
}

.offline {
  background: #333;
  border-color: #333;
}

/* End: Status */

/* Start:Avatars */
.avatar-group :where(.avatar) {
  border-width: 2px;
}

/* End:Avatars */

/* Start:Dropdown */
.dropdown-li {
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
  transition: all .3s linear;
}

.dropdown-li:hover {
  background-color: #1e1e1e;
  border-radius: 10px;
}
/* End:Dropdown */

/* Start: Forms */
.form-control {
  border: navajowhite;
  color: #fff;
  @apply text-v_12 rounded-md
}

.form-control.search {
  @apply bg-dark-300;
}

.form-control:focus {
  outline: #0d0d0d;
}

/* End:Forms */


/* Start: Transition */
.route-leave-to ,
.route-enter-from {
  opacity: 0;
  transform: translateX(10%);
}
.route-leave-from ,
.route-enter-to {
  opacity: 1;
  transform: translateX(0%);
}

.route-enter-active,
.route-leave-active {
  transition: all .3s linear;
}
/* End: Transition */

/* Start: Modals */
.modal {
  background: #3333330f;
}

.modal-box {
  @apply bg-secoundry-dark;
  overflow-y: initial;
}

/* End: Modals */

/* Start: Errors */
.is-invalid {
  @apply border-red-400 border border-solid
}
/* End: Errors */

/* VARIABLES */
/* COLORS */
/* FONT */
  .pen-description {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
  }
  .pen-description h1 {
    text-align: center;
    margin-top: 2rem;
    color: #fff;
  }
  .pen-description p {
    margin: 0;
    line-height: 1;
  }
  .pen-description .pen-copyright img {
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    transition: box-shadow 0.5s ease-in-out;
  }
  .pen-description .pen-copyright:hover img {
    box-shadow: 0 10px 20px #0e2101;
  }
  
  /* Start: Register */


  /* End: Register */
  
  .congrats {
    background: #fff;
    color: #00c4b5;
    padding: 4rem;
    text-align: center;
  }
  .congrats-subtitle {
    line-height: 1.3;
  }
  .congrats-subtitle strong {
    font-size: 1.2rem;
  }
.pen-description {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.pen-description h1 {
  text-align: center;
  margin-top: 2rem;
  color: #fff;
}

.pen-description p {
  margin: 0;
  line-height: 1;
}

.pen-description .pen-copyright img {
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  transition: box-shadow 0.5s ease-in-out;
}

.pen-description .pen-copyright:hover img {
  box-shadow: 0 10px 20px #0e2101;
}

.register {
  display: block;
  color: #fff;
  max-width: 65%;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 4rem;
  background: linear-gradient(145deg, #121212, #10100f);
  box-shadow: 38px 38px 77px #080808, -38px -38px 77px #000000;
}

.register-icon {
  display: flex;
  background: #fff;
  border-radius: 2rem;
  width: 50px;
  height: 50px;
  padding: 1rem;
  margin: -50px auto 20px;
}

.register-icon-item {
  width: 100%;
}

.register-title {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
  margin-top: 2rem;
}

.register-stepper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.register-stepper::before {
  z-index: 0;
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  top: calc(50% - 1px);
  background: #cecece;
  width: calc(100% - 20px);
}

.register-stepper .step {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border: 2px solid #cecece;
  color: #cecece;
  background-color: #fff;
  border-radius: 50%;
  min-width: 25px;
  min-height: 25px;
  line-height: 20px;
  font-size: 16px;
}

.register-stepper .step-active {
  color: #00c4b5;
  background-color: #fff;
  border-color: #00c4b5;
}

.register-stepper .step-done {
  color: #a7e4b5;
  border-color: #a7e4b5;
}

.register-stepper .step-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  line-height: 1;
  vertical-align: middle;
}

.register .form-group {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: baseline;
}

.register .form-group.cta-step {
  color: #fff;
  justify-content: space-between;
}

.register .form-group.cta-step .cta.prev {
  padding: 10px 30px;
}

.register .form-group.new-password {
  margin-top: 2rem;
}

.register .form .cta-color,
.register .form .cta-color input,
.register .form .cta-color .link_text {
  color: #ccc;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  text-decoration: none;
}

.register .form .cta-color .link_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register .form .cta-color .link_wrap .arrow-prev {
  position: relative;
  display: inline-block;
  transform: translate(0);
  transition: transform 0.3s ease-in-out;
}

.register .form .cta-color .link_wrap .arrow-prev::before {
  content: "<";
  position: absolute;
  top: -17px;
  left: -25px;
}

.register .form .cta-color .link_wrap .arrow-next {
  position: relative;
  display: inline-block;
  transform: translate(0);
  transition: transform 0.3s ease-in-out;
}

.register .form .cta-color .link_wrap .arrow-next::before {
  content: ">";
  position: absolute;
  top: -10px;
  left: -25px;
}

.register .form .cta-color .link_wrap:hover .arrow-prev {
  transform: translate(-5px);
}

.register .form .cta-color .link_wrap:hover .arrow-next {
  transform: translate(5px);
}

.register input[type=submit],
.register input[type=text],
.register input[type=tel],
.register input[type=email],
.register input[type=date] {
  -webkit-appearance: none;
  border: 0;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  width: 100%;
  margin: 0.5rem;
  background-color: #333;
}

.register input[type=submit] {
  cursor: pointer;
  position: relative;
  padding-right: 36px;
  background-color: black;
  width: fit-content;
}

.register input[type=submit]:hover,
.register input[type=submit]:focus {
  box-shadow: unset;
  transform: none;
}

.register input[type=submit]::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  border-radius: 50px;
  border: 1px solid rgb(20 102 235 / 50%);
  height: 25px;
  width: 25px;
  margin-top: -14px;
  pointer-events: none;
  transition: all 0.33s cubic-bezier(0.12, 0.75, 0.4, 1);
}

.register-btn input {
  color: #fff;
  font-size: 0.7rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1;
  width: fit-content;
  background-color: black;
  box-shadow: 20px 20px 60px #080808, -20px -20px 60px #080808;
}

.register-btn input:hover {
  background: rgb(20 102 235 / 50%);
  box-shadow: 20px 20px 60px #050505, -20px -20px 60px #070707;
}

.register .slide-fade-enter-active {
  transition: all 0.3s ease;
}

.register .slide-fade-leave-active {
  display: none;
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.register .slide-fade-enter,
.register .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.congrats {
  background: #fff;
  color: #00c4b5;
  padding: 4rem;
  text-align: center;
}

.congrats-subtitle {
  line-height: 1.3;
}

.congrats-subtitle strong {
  font-size: 1.2rem;
}

/* Start: Pagination */
.active_page {
  @apply bg-slate-10 text-black;
}
/* End: Pagination */

/* Start: Main Loader */
.main_loader {
  width: 100%;
  height: 1.8px;
  display: inline-block;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  overflow: hidden;
}

.main_loader::after {
  content: '';
  width: 96px;
  height: 1.8px;
  background: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: hitZak .6s linear infinite alternate;
  border-radius: 20px;
}

.loading {
  width: 25px;
  height: 25px;
  animation: rotation 1s linear infinite;
  @apply border-2 border-white border-b-transparent rounded-full
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-28px);
  }
  100% {
    left: 100%;
    transform: translateX(-80%);
  }
}

.sub_loader {
  width: 80px;
  height: 80px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
/* End: Main Loader */

/* Start: Swal */
.swal2-modal {
  background-color: #232323 !important;
}

.swal2-actions {
  display: flex;
  justify-content: flex-end !important;
  width: 100% !important;
  padding: 0 18px !important;
}

.swal2-styled {
  padding: 5px 20px !important;
  font-size: 14px !important;
  border-radius: 20px !important;
}

.swal2-confirm {
  background: #333 !important;
}

.swal2-cancel {
  background-color: rgb(255, 68, 68) !important;
  padding: 0 18px;
}

.swal2-html-container {
  display: block !important;
  overflow: auto !important;
  font-size: 14px !important;
  color: #ccc !important;
}

.swal2-title {
  font-size: 20px !important;
  color: #fff !important;
}

.swal2-icon-content {
  color: #fff !important;
}

.swal2-warning {
  border-color: #fff !important;
}
/* End: Swal */

/* Start: Dragging */
.drag-card .inner-card {
  transform: rotate(2deg);
}

.ghost-card {
  opacity: 1 !important;
}

.ghost-class .inner-card {
  opacity: 1 !important;
  visibility: hidden;
}
/* End: Dragging */